@import 'original';

:root {
  --yellow: #f7c548;
  --yellowlight: #f7c5484D;
  --blue: #86CFF4;
  --darkest: #242020;
  --lightgrey: #d7d7d7;
  --darkbrown: #3e3b3b;
  --notifbrown: #2d2b2b;
}

html {
  scrollbar-color: var(--darkbrown) var(--darkest);
}

.scrollbar-color,
.scrollable {
  /* Replace the color by the color of column headers for a better effect. */
  scrollbar-color: var(--darkbrown) var(--darkest);
  /* This is optional but I find the default scrollbars way too fat. */
  scrollbar-width: thin;
}

body.error {
  color: var(--lightgrey);
  background: var(--darkest);
}

div[data-reactroot] {
  background: none !important;
}

body {
  background: var(--darkbrown);
}

.ui {
  background: var(--darkest);
}

body.app-body {
  background: var(--darkest);
}

.loading-bar {
  background-color: var(--blue);
}

.loading-indicator__figure {
  border: 6px solid var(--yellow);
}

.loading-indicator span {
  color: var(--yellow);
}

div.column {
  opacity: 0.9;
  flex-grow: 1;
  flex-shrink: 1;
}

div.drawer {
  opacity: 0.95;
  background-color: transparent !important;
}

.status__content a .fa,
.status__content a .fa:hover {
  color: var(--blue);
}

.status__content a,
.reply-indicator__content a,
.getting-started a,
.muted .status__content a,
.account__header .account__header__username {
  color: var(--blue);
}

.account__display-name strong,
.status__display-name strong {
  color: var(--blue);
}

.account__section-headline {
  background: var(--darkest);
  border-bottom: 1px solid var(--yellowlight);
}

.column-header {
  background: var(--darkest);
}

.column-header__button {
  background: var(--darkest);
}

.column-header__back-button {
  background: var(--darkest);
}

.column-header__back-button {
  color: var(--blue);
}

.column-header > .column-header__back-button {
  color: var(--blue);
}

.column-header__buttons:hover {
  background-color: var(--darkbrown);
}

.status {
  border-bottom: 1px solid var(--yellowlight);
}

.account {
  border-bottom: 1px solid var(--yellowlight);
}

.status__content {
  font-size: 14px !important;
}

.search {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.search__input {
  background: var(--darkbrown);
  color: var(--lightgrey);
  Border-radius: 4px;
}

.search__input:focus {
  background: var(--darkbrown);
}

.search__icon .fa-times-circle:hover {
  color: var(--lightgrey);
}

.search__icon .fa-times-circle {
  color: var(--lightgrey);
}

.search__icon .fa.active {
  opacity: .8;
}

.drawer__inner__mastodon {
  background: var(--darkbrown);
  background-color: var(--darkbrown);
}

.compose-form .autosuggest-textarea__textarea,
.compose-form .spoiler-input__input {
  color: var(--lightgrey);
  background: var(--darkbrown);
  border-bottom: 1px solid var(--yellow);
  outline: 0;
}

.compose-form .compose-form__modifiers .compose-form__uploads-wrapper {
  color: var(--lightgrey);
  background: var(--darkbrown);
}

.account__header .account__header__fields dd {
  color: var(--lightgrey);
  background: var(--notifbrown);
}

.account__header .account__header__fields dt {
  color: var(--lightgrey);
  background: var(--notifbrown);
}

.account__action-bar__tab strong {
  color: var(--lightgrey);
}

.account__header > div {
  background: var(--notifbrown);
  opacity: 0.9;
}

.account__header__bar {
  border-bottom: 1px solid var(--yellowlight);
}

.account__header__fields {
  border-style: solid none;
  border-width: 1px 0;
}

.compose-form .compose-form__buttons-wrapper {
  background: var(--darkbrown);
}

.compose-form .compose-form__buttons-wrapper .character-counter__wrapper .character-counter {
  color: var(--lightgrey);
}

.text-icon-button {
  color: var(--lightgrey);
}

.star-icon.active {
  color: var(--yellow);
}

.drawer__inner__mastodon {
  display: none !important;
}

.column > .scrollable {
  background: var(--darkest);
  border-top: 1px solid var(--yellowlight);
}

.drawer__inner {
  background: var(--darkest);
}

.drawer__header {
  background: var(--darkest);
}

.drawer__header a:hover {
  background: var(--darkbrown);
  -webkit-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
}

.status.status-direct:not(.read) {
  background: var(--darkbrown);
  border-bottom-color: var(--darkbrown);
}

.status__display-name,
.status__prepend .status__display-name strong {
  color: var(--blue);
}

.display-name__account {
  font-size: 14px;
  color: var(--yellow);
}

.muted .status__content p {
  color: var(--lightgrey);
}

.muted .status__content a {
  color: var(--blue);
}

.muted .status__display-name strong {
  color: var(--blue);
}

.attachment-list__list a {
  color: var(--blue);
}

.status__prepend > span {
  color: var(--lightgrey) !important;
}

.notification__message > span {
  color: var(--lightgrey) !important;
}

.notification__display-name {
  color: var(--yellow);
}

.status__relative-time {
  color: var(--blue);
}

.detailed-status {
  background: var(--notifbrown);
}

.reply-indicator {
  background: var(--darkbrown);
}

.reply-indicator__content {
  color: var(--lightgrey);
}

.detailed-status__meta {
  color: var(--lightgrey);
}

.detailed-status__action-bar {
  background: var(--notifbrown);
  border-bottom: 1px solid var(--yellowlight);
}

.icon-button.inverted {
  color: var(--lightgrey);
}

.drawer__tab {
  color: var(--lightgrey);
}

.icon-button.inverted:hover,
.icon-button.inverted:active,
.icon-button.inverted:focus {
  color: var(--lightgrey);
}

.icon-button {
  color: var(--lightgrey);
}

.icon-button:hover,
.icon-button:active,
.icon-button:focus {
  color: var(--yellow);
  -webkit-transition: color 200ms ease-out !important;
  transition: color 200ms ease-out !important;
}

.reduce-motion button.icon-button i.fa-retweet {
  color: var(--lightgrey);
}

.status.status-direct:not(.read) {
  background: var(--notifbrown);
  border-bottom-color: var(--yellowlight);
  border-left: 3px solid var(--blue);
}

.icon-button.disabled {
  color: var(--lightgrey);
}

.status__content__read-more-button {
  color: var(--blue);
}

.column-header__button:hover {
  color: var(--lightgrey);
}

.column-header__button {
  color: var(--lightgrey);
}

.status-card {
  border: 1px solid var(--yellow);
}

.status-card__title {
  color: var(--yellow);
}

.status-card.compact {
  border-color: var(--yellow);
}

.status-card {
  color: var(--yellow);
}

.status-card__content {
  color: var(--yellow);
}

a.status-card:hover,
a.status-card.compact:hover {
  background-color: var(--darkbrown);
}

.status-card__image:hover {
  background-color: var(--darkbrown);
}

.column-back-button {
  background: var(--darkest);
  color: var(--blue);
}

.upload-progress {
  color: var(--lightgrey);
  background: var(--darkbrown);
}

.upload-progress__tracker {
  background: var(--blue);
}

.navigation-bar a {
  color: var(--blue);
}

.navigation-bar strong {
  color: var(--yellow);
  font-size: 1.2em;
}

.column-header__collapsible-inner {
  background: var(--notifbrown);
}

.column-header__button.active:hover {
  background: transparent !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--yellow);
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: var(--yellow);
}

.react-toggle-track {
  background-color: var(--darkbrown);
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--yellowlight);
}

.button {
  background-color: var(--yellow);
}

.button:hover {
  background-color: var(--yellowlight);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.button:disabled {
  background-color: var(--yellowlight);
  cursor: default;
}

.column-header.active {
  -webkit-box-shadow: 0 1px 0 var(--yellowlight);
  box-shadow: 0 1px 0 var(--yellowlight);
}

.column-header__wrapper.active::before {
  background: radial-gradient(ellipse, var(--yellowlight) 50%, transparent 70%);
}

.column-header {
  background: var(--darkest);
}

.column-subheading {
  background: var(--darkest);
  color: var(--lightgrey);
  border-top: 1px solid var(--yellowlight);
}

.column-link {
  background: var(--darkest);
}

.column-link:hover {
  background: var(--darkbrown);
}

.getting-started__footer {
  background-color: var(--darkest);
  border-top: 1px solid var(--yellowlight);
}

.getting-started__footer p {
  color: var(--lightgrey);
}

.getting-started__footer p a {
  color: var(--blue);
  text-decoration: none !important;
}

.getting-started__footer p a:hover {
  text-decoration: underline !important;
}

.account__action-bar__tab.active {
  border-bottom: 2px solid var(--yellow);
}

.account__section-headline a.active::after {
  border-color: transparent transparent var(--yellow);
}

.status__action-bar__counter__label {
  color: var(--lightgrey);
}

.column-header > button {
  color: var(--yellow);
}

.column-header__button.active,
.column-header__button.active:hover {
  background: var(--notifbrown);
}

.setting-toggle__label,
.column-settings__section {
  color: var(--lightgrey);
}

.text-btn {
  color: var(--lightgrey);
}

.notification-favourite {
  background-color: var(--darkest);
}

.text-icon-button:hover,
.text-icon-button:active,
.text-icon-button:focus {
  color: var(--lightgrey);
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}

.detailed-status__application,
.detailed-status__datetime {
  color: var(--blue);
}

.load-gap {
  border-bottom: 1px solid var(--darkest);
}

.load-more {
  color: var(--lightgrey);
}

.load-more:hover {
  background-color: var(--darkest);
  color: var(--lightgrey);
}

.privacy-dropdown__option.active:hover {
  background: var(--blue);
}

.privacy-dropdown__option:hover,
.privacy-dropdown__option.active {
  background: var(--blue);
}

.privacy-dropdown.active .privacy-dropdown__value.active .icon-button {
  background-color: var(--blue);
}

.compose-form .compose-form__warning {
  background: var(--lightgrey);
}

.dropdown-menu {
  background: var(--lightgrey);
}

.dropdown-menu__item a {
  background: var(--lightgrey);
}

.dropdown-menu__item a:focus,
.dropdown-menu__item a:hover,
.dropdown-menu__item a:active {
  background: var(--blue);
  color: var(--darkbrown);
}

.status__content .status__content__spoiler-link,
.reply-indicator__content .status__content__spoiler-link {
  background: var(--yellow);
  color: var(--darkest);
}

.status__content .status__content__spoiler-link:hover,
.reply-indicator__content .status__content__spoiler-link:hover {
  background: var(--yellow);
  text-decoration: none;
  opacity: .8;
}

.emoji-button img {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.focusable:focus {
  outline: 0 ! important;
  background: var(--darkbrown);
}

.column-header.active .column-header__icon {
  color: var(--yellow);
  text-shadow: none ! important;
}

.account__header__fields a {
  color: var(--yellow);
  text-decoration: none;
}

.fa-user-times::before {
  color: var(--yellow);
}

.tabs-bar {
  background: var(--darkest);
}

.tabs-bar__link {
  border-bottom: 2px solid var(--darkest);
}

.tabs-bar__link.active {
  border-bottom: 2px solid var(--yellow);
  color: var(--yellow);
}

.floating-action-button,
.floating-action-button:hover,
.floating-action-button:focus,
.floating-action-button:active {
  background: var(--yellow);
}

.video-player__spoiler.active:hover,
.video-player__spoiler.active:active,
.video-player__spoiler.active:focus {
  color: #00CE99B3;
}

.video-player__spoiler {
  color: var(--blue);
}

.media-spoiler {
  background: var(--darkbrown);
  color: var(--yellow);
}

.media-spoiler:hover,
.media-spoiler:active,
.media-spoiler:focus {
  background: var(--darkbrown);
  color: var(--yellowlight);
}

.account__disclaimer {
  color: var(--lightgrey);
}

.account__action-bar {
  border-top: 0px solid var(--darkest);
  border-bottom: 0px solid var(--darkest);
}

.account__action-bar__tab {
  border-right: 0px solid var(--darkest);
}

.account__header .account__header__fields dl {
  border-top: 0px solid var(--darkbrown);
}

.account__header__content a:hover {
  color: var(--yellow);
  text-decoration: underline !important;
}

.account__header__bio .account__header__fields {
  border-top: 0px solid var(--darkest);
}

.account__header__fields dl:last-child {
  border-bottom: 0px solid var(--darkest);
}

.account__header__fields {
  border-color: transparent !important;
}

.account__action-bar__tab > span {
  color: var(--lightgrey);
}

.fa-thumb-tack::before {
  color: var(--lightgrey);
}

.account__section-headline a {
  color: var(--lightgrey);
}

.text-icon-button.active {
  color: var(--yellow);
}

.button {
  color: var(--darkest);
}

.button:disabled {
  color: var(--darkbrown);
  cursor: default;
}

.fa-bell::before {
  content: "\f075";
}

.fa-home::before {
  content: "\f10e";
}

.fa-group::before,
.fa-users::before {
  content: "\f0e8";
}

.fa-hourglass::before {
  color: var(--yellow);
}

.fa-sliders::before {
  color: var(--yellow);
}

.search-popout {
  background: var(--lightgrey);
  color: var(--darkbrown);
}

.search-popout h4 {
  color: var(--darkbrown);
}

.search-popout em {
  color: var(--darkbrown);
}

.attachment-list.compact .fa {
  color: var(--yellow);
}

.status__prepend {
  color: var(--yellow);
}

.detailed-status__display-name strong {
  color: var(--blue);
}

.status-card__actions button,
.status-card__actions a {
  color: var(--yellow);
}

.status-card__image {
  background: transparent;
}

.icon-button.inverted.active {
  color: var(--yellow);
}

.getting-started__wrapper,
.getting-started,
.flex-spacer {
  background: var(--darkest);
}

.focusable:focus .status.status-direct {
  background: var(--notifbrown);
}

.muted .emojione {
  opacity: 1;
}

.empty-column-indicator,
.error-column {
  color: var(--lightgrey);
  background: var(--darkest);
}

.column-inline-form {
  background: var(--darkbrown);
  color: var(--lightgrey);
}

.setting-text {
  color: var(--lightgrey);
  border-bottom: 2px solid var(--lightgrey);
}

.column-back-button--slim-button {
  top: -49px;
}

.drawer__inner.darker {
  background: var(--darkest);
}

.search-results__header {
  background-color: var(--darkest);
  color: var(--lightgrey);
}

.search-results__section h5 {
  background: var(--darkest);
  border-bottom: 1px solid var(--yellow);
  color: var(--lightgrey);
}

.trends__item__name {
  color: var(--lightgrey);
}

.trends__item__name a {
  color: var(--yellow);
}

.trends__item__sparkline path {
  stroke: var(--yellow) !important;
}

.account__section-headline button,
.notification__filter-bar button {
  background: var(--darkest);
}

.account__section-headline,
.notification__filter-bar {
  background: var(--notifbrown);
}

.account__section-headline a,
.account__section-headline button,
.notification__filter-bar a,
.notification__filter-bar button {
  color: var(--lightgrey);
}

.account__section-headline a.active::after,
.account__section-headline button.active::after,
.notification__filter-bar a.active::after,
.notification__filter-bar button.active::after {
  bottom: -1px;
  border-color: transparent transparent var(--yellow);
}

.account__section-headline a.active,
.account__section-headline button.active,
.notification__filter-bar a.active,
.notification__filter-bar button.active {
  color: var(--yellow);
}

.account__moved-note {
  background: var(--darkbrown);
  border-top: 1px solid var(--darkest);
  border-bottom: 1px solid var(--darkest);
}

.account__moved-note__message {
  color: var(--yellow);
}

.emoji-mart-anchors {
  color: var(--lightgrey);
}

.emoji-mart-anchor:hover {
  color: var(--yellow);
}

.emoji-mart-bar:first-child {
  background: var(--darkest);
  border-bottom: 1px solid var(--yellow);
}

.emoji-mart-anchor-selected:hover {
  color: var(--yellow);
}

.emoji-mart-anchor-bar {
  background-color: var(--yellow);
}

.emoji-mart-search {
  background: var(--darkest);
}

.emoji-picker-dropdown__menu {
  background: var(--darkest);
}

.emoji-mart-category-label span {
  background: var(--darkest);
  color: var(--lightgrey);
}

.emoji-mart-search input {
  background: var(--darkbrown);
  color: var(--lightgrey);
  border: 1px solid var(--darkest);
}

.emoji-mart-scroll {
  background: var(--darkest);
}

.emoji-mart-anchor-selected {
  color: var(--yellow);
}

.reduce-motion button.icon-button.active i.fa-retweet {
  color: var(--yellow);
}

.notification__message .fa {
  color: var(--yellow);
}

.emoji-mart-no-results {
  color: var(--lightgrey);
}

.emoji-picker-dropdown__modifiers__menu {
  background: var(--darkbrown);
}

.activity-stream .entry {
  background: var(--darkest);
}

.public-layout .header {
  background: var(--darkest);
}

.button.logo-button {
  background: var(--darkbrown);
  color: var(--yellow);
  border: 1px solid var(--yellowlight);
}

.button.logo-button:active,
.button.logo-button:focus,
.button.logo-button:hover {
  background: var(--yellow);
  color: var(--darkbrown);
}

.button.logo-button:active svg path:last-child,
.button.logo-button:focus svg path:last-child,
.button.logo-button:hover svg path:last-child {
  fill: var(--yellow);
}

.button.logo-button:active svg path:first-child,
.button.logo-button:focus svg path:first-child,
.button.logo-button:hover svg path:first-child {
  fill: var(--darkbrown);
}

.public-layout .public-account-header__tabs__tabs .counter.active::after {
  border-bottom: 4px solid var(--yellow);
}

.account__header__fields dt,
.account__header__fields dd {
  color: var(--lightgrey);
  background-color: var(--darkest);
  box-sizing: inherit;
  text-align: left;
}

.account__header__fields dl {
  border-bottom: 0px solid var(--darkest);
}

.public-layout .public-account-bio .account__header__content {
  color: var(--lightgrey);
  background-color: var(--darkest);
}

.public-layout .public-account-bio .roles,
.public-layout .public-account-bio__extra {
  color: var(--lightgrey);
  background-color: var(--darkest);
}

.public-layout .header .nav-link {
  color: var(--yellow);
}

.public-layout .public-account-header__tabs__tabs .counter .counter-label {
  color: var(--lightgrey);
}

.public-layout .public-account-bio .account__header__fields a {
  color: var(--yellow);
}

.public-layout .public-account-header__tabs__tabs {
  background-color: var(--darkest);
}

.public-layout .public-account-header__bar .avatar img {
  border: 4px solid var(--yellow);
  background: var(--yellow);
}

.simple_form {
  .input.with_label .label_input > label {
    color: var(--lightgrey);
  }
}

.simple_form p.hint {
  color: var(--lightgrey);
}

.hero-widget__text {
  background: var(--darkest);
  color: var(--lightgrey);
}

.public-layout .public-account-header {
  background-color: var(--darkest);
}

.status-card__description {
  color: var(--lightgrey);
}

.card__bar {
  background: var(--darkest);
}

.card__bar .display-name span {
  color: var(--blue);
}

.card__bar .display-name strong {
  color: var(--yellow);
}

.card > a:active .card__bar,
.card > a:focus .card__bar,
.card > a:hover .card__bar {
  background: var(--darkbrown);
}

.public-layout .footer h4,
.public-layout .footer .grid .column-2 h4 a {
  color: var(--blue);
}

.public-layout .footer,
.public-layout .footer ul a {
  color: var(--lightgrey);
}

.public-layout .footer .brand svg path {
  fill: var(--yellow);
}

.public-layout .footer .brand:active svg path,
.public-layout .footer .brand:focus svg path,
.public-layout .footer .brand:hover svg path {
  fill: var(--yellowlight);
}

.button.logo-button svg path:first-child {
  fill: var(--yellow);
}

.button.logo-button svg path:last-child {
  fill: var(--darkest);
}

.public-layout .header .nav-button {
  background: var(--darkbrown);
}

.public-layout .header .nav-button:active,
.public-layout .header .nav-button:focus,
.public-layout .header .nav-button:hover {
  background: var(--yellow);
}

.public-layout .header .nav-link:active,
.public-layout .header .nav-link:focus,
.public-layout .header .nav-link:hover {
  color: var(--darkbrown);
}

.public-layout .header .brand:active,
.public-layout .header .brand:focus,
.public-layout .header .brand:hover {
  background: var(--darkbrown);
}

.public-layout .public-account-header__image {
  background: var(--darkest);
  opacity: .2;
}

.video-player__seek__handle {
  background: var(--yellow);
}

.video-player__seek__progress {
  background: var(--yellow);
}

.video-player__volume__current {
  background: var(--yellow);
}

.video-player__volume__handle {
  background: var(--yellow);
}

.regeneration-indicator {
  color: var(--blue);
  background: var(--darkest);
}

.regeneration-indicator__label strong {
  color: var(--yellow);
}

.icon-button.inverted.active.disabled {
  color: var(--yellow);
}

.media-modal__button--active {
  background-color: var(--yellow);
}

.status.status-direct:not(.read) {
  background: var(--notifbrown);
}

.focusable:focus .detailed-status,
.focusable:focus .detailed-status__action-bar {
  background: var(--darkbrown);
}

.display-name__html {
  color: var(--yellow);
}

.compose-form__poll-wrapper {
  background-color: var(--darkbrown);
}

.compose-form__poll-wrapper .button.button-secondary {
  background-color: var(--yellow);
}

.compose-form__poll-wrapper .poll__footer button,
.compose-form__poll-wrapper .poll__footer select {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.compose-form__poll-wrapper {
  border-top: 1px solid var(--darkbrown);
}

.poll__text input[type="text"] {
  background: var(--lightgrey);
}

.poll__input {
  border: 1px solid var(--yellow);
}

.compose-form__poll-wrapper .poll__footer {
  border-top: 1px solid var(--darkbrown);
}

.poll__chart {
  background: var(--yellow);
}

.poll__chart.leading,
.muted .poll__chart.leading {
  background: #00CE99;
}

.muted .poll {
  color: var(--lightgrey);
  text-shadow: 1px 1px 2px var(--darkest);
}

.poll__link {
  color: var(--yellow);
}

.poll__footer {
  color: var(--yellow);
}

.account__header__tabs__name h1 small {
  color: var(--blue);
}

.account__header__extra__links a {
  color: var(--yellow);
}

.account__header__extra__links a strong {
  color: var(--yellow);
}

.account__header__bio .account__header__fields a {
  color: var(--blue);
}

/*.fa-ellipsis-h::before {
  color: var(--yellow);
}*/
button.icon-button i.fa-retweet {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='209'><path d='M4.97 3.16c-.1.03-.17.1-.22.18L.8 8.24c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5 3.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32 2.85.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%23dbdbdb' stroke-width='0'/><path d='M7.78 19.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v4.47c0 4.26-.56 3.62 3.65 3.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44 0-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0 .38.54.63.82.38l4.9-3.93c.25-.18.25-.6 0-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34 2.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3 1.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33 1.1h1.28c.42 0 .72.28.72.72v4.47c0 .42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07 0-.14.05-.2.1l-4.9 3.93c-.26.18-.26.6 0 .78l4.9 3.92c.27.25.82 0 .8-.38v-2.5h.1c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34 38.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.47c0 3.66-.23 3.7 2.34 3.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3 0-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0 .36.5.6.8.38l4.93-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63 2.93l1.34 1.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96 1.6c.02.07.06.13.06.22v4.47c0 .42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94 3.93c-.24.18-.24.6 0 .78l4.94 3.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06 57.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0 .36.5.6.78.38l4.94-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3 6.15l-2.92 2.4v2.52c0 .42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6 70.52c-.25.18-.25.6 0 .78l4.93 3.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27 0 3.65.67 3.65-3.62v-4.47-.44zM19.25 78.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2 0 .37.08.5.2l-1.8 1.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2 6.1c-.2.07-.36.3-.33.54l.7 6.25c.02.36.58.55.83.27l.8-.8c.02 0 .04-.02.04 0 .46.24 1.37.17 3.18.17h7.44c4.27 0 3.65.67 3.65-3.62v-.75l-2.93-.3v1.05c0 .42-.3.72-.72.72H7.28c-.15 0-.3-.03-.4-.1L8.8 86.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88 98.6c-1.33 0-1.34.48-1.3 2.3l1.14-1.37c.08-.1.22-.17.34-.2.16 0 .34.08.44.2l1.66 2.03c.04 0 .07-.03.12-.03h7.44c.34 0 .57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92 4.95c.18.24.6.24.78 0l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08 0-1.86-.04-2.4-.04zm.15 2.46c-.1.03-.2.1-.28.2l-3.94 4.9c-.2.28.03.77.4.78H3.6c-.02 3.94-.45 3.4 3.66 3.4h7.44c3.65 0 3.74.3 3.7-2.25l-1.1 1.34c-.1.1-.2.17-.32.2-.16 0-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35 0-.57-.2-.66-.5h2.44c.37 0 .63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88 117.6c-1.16 0-1.3.3-1.3 1.56l1.14-1.38c.08-.1.22-.14.34-.16.16 0 .34.04.44.16l2.22 2.75h7c.42 0 .72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08 0-1.86-.03-2.4-.03zm.1 1.74c-.1.03-.17.1-.23.16L.8 124.44c-.2.28.03.77.4.78H3.6v.5c0 4.26-.55 3.62 3.66 3.62h7.44c1.03 0 1.74.02 2.28 0-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44 0-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5 119.5c-.12-.15-.34-.22-.53-.16zm12.02 10c1.2-.02 1.4-.25 1.4-1.53l-1.1 1.36c-.07.1-.17.17-.3.18zM5.94 136.6l2.37 2.93h6.42c.42 0 .72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6 0-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12 0-.24.08-.3.18l-3.95 4.9c-.24.3 0 .83.4.82H3.6v1.22c0 4.26-.55 3.62 3.66 3.62h7.44c.63 0 .97.02 1.4.03l-2.37-2.93H7.28c-.44 0-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28 10.03l-.56.7c.36-.07.5-.3.56-.7zM17.13 155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38 2.9h5.82c.42 0 .72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94 4.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v1.96c0 4.26-.55 3.62 3.66 3.62h8.24l-2.36-2.9H7.28c-.44 0-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13 174.5c-.15 0-.3.07-.38.2L.8 179.6c-.24.27 0 .82.4.8H3.6v2.32c0 4.26-.55 3.62 3.66 3.62h7.94l-2.35-2.9h-5.6c-.43 0-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12 .1c-.55-.02-1.32.03-2.4.03H6.83l2.35 2.9h5.52c.42 0 .72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92 4.9c.18.24.6.24.78 0l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97 193.16c-.1.03-.17.1-.22.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32 2.84.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%23FFAC00' stroke-width='0'/></svg>");
}

button.icon-button i.fa-retweet:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='209'><path d='M4.97 3.16c-.1.03-.17.1-.22.18L.8 8.24c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5 3.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32 2.85.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%2386CFF4' stroke-width='0'/><path d='M7.78 19.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v4.47c0 4.26-.56 3.62 3.65 3.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44 0-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0 .38.54.63.82.38l4.9-3.93c.25-.18.25-.6 0-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34 2.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3 1.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33 1.1h1.28c.42 0 .72.28.72.72v4.47c0 .42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07 0-.14.05-.2.1l-4.9 3.93c-.26.18-.26.6 0 .78l4.9 3.92c.27.25.82 0 .8-.38v-2.5h.1c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34 38.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.47c0 3.66-.23 3.7 2.34 3.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3 0-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0 .36.5.6.8.38l4.93-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63 2.93l1.34 1.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96 1.6c.02.07.06.13.06.22v4.47c0 .42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94 3.93c-.24.18-.24.6 0 .78l4.94 3.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06 57.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0 .36.5.6.78.38l4.94-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3 6.15l-2.92 2.4v2.52c0 .42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6 70.52c-.25.18-.25.6 0 .78l4.93 3.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27 0 3.65.67 3.65-3.62v-4.47-.44zM19.25 78.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2 0 .37.08.5.2l-1.8 1.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2 6.1c-.2.07-.36.3-.33.54l.7 6.25c.02.36.58.55.83.27l.8-.8c.02 0 .04-.02.04 0 .46.24 1.37.17 3.18.17h7.44c4.27 0 3.65.67 3.65-3.62v-.75l-2.93-.3v1.05c0 .42-.3.72-.72.72H7.28c-.15 0-.3-.03-.4-.1L8.8 86.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88 98.6c-1.33 0-1.34.48-1.3 2.3l1.14-1.37c.08-.1.22-.17.34-.2.16 0 .34.08.44.2l1.66 2.03c.04 0 .07-.03.12-.03h7.44c.34 0 .57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92 4.95c.18.24.6.24.78 0l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08 0-1.86-.04-2.4-.04zm.15 2.46c-.1.03-.2.1-.28.2l-3.94 4.9c-.2.28.03.77.4.78H3.6c-.02 3.94-.45 3.4 3.66 3.4h7.44c3.65 0 3.74.3 3.7-2.25l-1.1 1.34c-.1.1-.2.17-.32.2-.16 0-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35 0-.57-.2-.66-.5h2.44c.37 0 .63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88 117.6c-1.16 0-1.3.3-1.3 1.56l1.14-1.38c.08-.1.22-.14.34-.16.16 0 .34.04.44.16l2.22 2.75h7c.42 0 .72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08 0-1.86-.03-2.4-.03zm.1 1.74c-.1.03-.17.1-.23.16L.8 124.44c-.2.28.03.77.4.78H3.6v.5c0 4.26-.55 3.62 3.66 3.62h7.44c1.03 0 1.74.02 2.28 0-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44 0-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5 119.5c-.12-.15-.34-.22-.53-.16zm12.02 10c1.2-.02 1.4-.25 1.4-1.53l-1.1 1.36c-.07.1-.17.17-.3.18zM5.94 136.6l2.37 2.93h6.42c.42 0 .72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6 0-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12 0-.24.08-.3.18l-3.95 4.9c-.24.3 0 .83.4.82H3.6v1.22c0 4.26-.55 3.62 3.66 3.62h7.44c.63 0 .97.02 1.4.03l-2.37-2.93H7.28c-.44 0-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28 10.03l-.56.7c.36-.07.5-.3.56-.7zM17.13 155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38 2.9h5.82c.42 0 .72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94 4.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v1.96c0 4.26-.55 3.62 3.66 3.62h8.24l-2.36-2.9H7.28c-.44 0-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13 174.5c-.15 0-.3.07-.38.2L.8 179.6c-.24.27 0 .82.4.8H3.6v2.32c0 4.26-.55 3.62 3.66 3.62h7.94l-2.35-2.9h-5.6c-.43 0-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12 .1c-.55-.02-1.32.03-2.4.03H6.83l2.35 2.9h5.52c.42 0 .72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92 4.9c.18.24.6.24.78 0l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97 193.16c-.1.03-.17.1-.22.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32 2.84.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%23FFAC00' stroke-width='0'/></svg>");
}

.compose-form__sensitive-button {
  background-color: var(--darkbrown);
}

.compose-form__sensitive-button .icon-button {
  color: var(--lightgrey);
}

.icon-button.active {
  color: var(--yellow);
}

.upload-area {
  background: rgba(50, 56, 55, .8);
}

.upload-area__background {
  background: var(--darkbrown);
}

.upload-area__content {
  color: var(--yellow);
  border: 2px dashed var(--yellow);
}

.boost-modal__action-bar,
.confirmation-modal__action-bar,
.mute-modal__action-bar {
  background: var(--darkest);
}

.confirmation-modal__action-bar .confirmation-modal__cancel-button,
.confirmation-modal__action-bar .confirmation-modal__secondary-button,
.confirmation-modal__action-bar .mute-modal__cancel-button,
.mute-modal__action-bar .confirmation-modal__cancel-button,
.mute-modal__action-bar .confirmation-modal__secondary-button,
.mute-modal__action-bar .mute-modal__cancel-button {
  background-color: var(--yellowlight);
  color: var(--lightgrey);
}

.actions-modal,
.boost-modal,
.confirmation-modal,
.mute-modal,
.report-modal {
  background-color: var(--darkest);
  color: var(--lightgrey);
  border: 1px solid var(--yellowlight);
}

.button:active,
.button:focus,
.button:hover {
  background-color: var(--yellow);
  opacity: .8;
}

.media-modal .extended-video-player video,
.zoomable-image img {
  border: 2px dashed var(--yellowlight);
  border-radius: 5px;
  padding: .75em;
  background-color: var(--darkest);
}

.modal-root__overlay {
  background: var(--darkest);
  opacity: .95;
}

.media-modal__nav {
  background: var(--darkest);
}

.fa-close::before,
.fa-remove::before,
.fa-times::before {
  color: var(--yellow);
}

.fa-chevron-right::before {
  color: var(--yellow);
}

.fa-chevron-left::before {
  color: var(--yellow);
}

.fa.fa-chevron-left.column-back-button__icon.fa-fw::before {
  color: var(--blue);
}

.spoiler-button__overlay__label {
  color: var(--yellow);
}

.button.logo-button.button--destructive:active,
.button.logo-button.button--destructive:focus,
.button.logo-button.button--destructive:hover {
  background: var(--yellow);
  color: var(--darkest);
}

.relationship-tag {
  color: var(--darkest);
  background-color: var(--yellow);
  font-weight: bold;
  padding: 5px;
  border: 1px solid var(--yellow);
  opacity: 1;
}

.relationship-tag:hover {
  opacity: .75;
}

.account__header__tabs__buttons .icon-button {
  border: 1px solid var(--yellowlight);
}

.fa-ellipsis-v::before {
  color: var(--yellow);
}

.embed-modal,
.error-modal,
.onboarding-modal {
  background: var(--darkbrown);
  color: var(--lightgrey);
  padding: .5em;
  border: 2px dashed var(--yellow);
}

.embed-modal .embed-modal__container .embed-modal__html {
  background: var(--darkest);
  color: var(--lightgrey);
}

body.embed {
  background: var(--darkest);
}

.embed-modal h4 {
  font-size: 18px;
  border-bottom: 1px solid var(--yellow);
  color: var(--yellow);
}

.report-modal__statuses .status__content,
.report-modal__statuses .status__content p {
  color: var(--lightgrey);
}

.report-modal__statuses .status__content a {
  color: var(--blue);
}

.status-check-box {
  border-bottom: 1px solid var(--yellowlight);
}

.report-modal__comment {
  border-right: 1px solid var(--yellowlight);
}

.report-modal__target {
  color: var(--yellow);
}

.report-modal__container {
  border-top: 1px solid var(--yellowlight);
}

.report-modal__comment .setting-text {
  color: var(--lightgrey);
  background: var(--darkbrown);
  border: 1px solid var(--yellow);
}

.button.button-secondary:disabled {
  opacity: .5;
  color: var(--lightgrey);
}

.button.button-secondary {
  color: var(--darkest);
  border: 1px solid var(--yellow);
}

.button.button-secondary:active,
.button.button-secondary:focus,
.button.button-secondary:hover {
  border-color: var(--yellow);
  color: var(--darkest);
}

.button.button-secondary {
  color: var(--darkest);
  background: var(--yellow);
}

/*******  ACCUEIL ********/
.box-widget,
.contact-widget,
.landing-page__information.contact-widget {
  background: var(--darkest);
}

.directory__tag > a,
.directory__tag > div {
  background: var(--darkest);
  color: var(--lightgrey);
}

.directory__tag > a:active,
.directory__tag > a:focus,
.directory__tag > a:hover {
  background: var(--darkbrown);
}

.directory__tag h4 {
  color: var(--blue);
}

.directory__tag h4 .fa {
  color: var(--yellow);
}

.landing .hero-widget__footer {
  background: var(--darkest);
}

.simple_form .block-button:hover,
.simple_form .button:hover,
.simple_form button:hover {
  background-color: var(--yellow);
  opacity: .8;
}

.simple_form .block-button,
.simple_form .button,
.simple_form button {
  background: var(--yellow);
  color: var(--darkest);
  opacity: 1;
}

.simple_form .block-button:active,
.simple_form .block-button:focus,
.simple_form .button:active,
.simple_form .button:focus,
.simple_form button:active,
.simple_form button:focus {
  background-color: var(--yellowlight);
}

.simple_form input[type="email"],
.simple_form input[type="number"],
.simple_form input[type="password"],
.simple_form input[type="text"],
.simple_form textarea {
  color: var(--lightgrey);
  background: var(--darkbrown) !important;
  border: 1px solid var(--yellow);
  opacity: 1;
}

.landing .simple_form .user_agreement .label_input > label,
.landing .simple_form p.lead {
  color: var(--lightgrey);
}

.simple_form .input.boolean label a {
  color: var(--blue);
}

.simple_form .input.boolean label a:active,
.simple_form .input.boolean label a:focus,
.simple_form .input.boolean label a:hover {
  text-decoration: none;
}

.simple_form .hint a {
  color: var(--blue);
}

.landing .hero-widget__counter span {
  color: var(--lightgrey);
}

.landing .hero-widget h4 {
  color: var(--blue);
}

.simple_form input[type="email"]:active,
.simple_form input[type="email"]:focus,
.simple_form input[type="number"]:active,
.simple_form input[type="number"]:focus,
.simple_form input[type="password"]:active,
.simple_form input[type="password"]:focus,
.simple_form input[type="text"]:active,
.simple_form input[type="text"]:focus,
.simple_form textarea:active,
.simple_form textarea:focus {
  border-color: var(--yellow);
  background: var(--darkest);
}

body.lighter {
  background: var(--darkest);
}

.form-footer a {
  color: var(--blue);
}

.simple_form input[type="email"],
.simple_form input[type="number"],
.simple_form input[type="password"],
.simple_form input[type="text"],
.simple_form textarea {
  border: 1px solid var(--yellow);
}

.simple_form input[type="email"]:hover,
.simple_form input[type="number"]:hover,
.simple_form input[type="password"]:hover,
.simple_form input[type="text"]:hover,
.simple_form textarea:hover {
  border-color: var(--yellowlight);
}

.brand__tagline {
  color: var(--lightgrey);
}

.directory__tag h4 small {
  color: var(--lightgrey);
}

.simple_form .label_input__append {
  color: var(--yellow);
}



.flash-message {
  background: #d8c9e9;

  a {
    color: #6a5687;
  }

  &.alert {
    background: rgba(223, 64, 90, .5);
    color: var(--lightgrey);
  }
}

.media-modal__close .fa-times::before {
  content: "×";
  font-size: 35px;
  font-weight: lighter;
}

.media-modal__nav--right .fa-chevron-right::before {
  font-size: 65px;
  font-weight: lighter;
  content: ">";
}

.media-modal__nav--left .fa-chevron-left::before {
  font-size: 65px;
  font-weight: lighter;
  content: "<";
}

.fa-crosshairs::before {
  color: var(--yellow);
}

.page-header {
  background: var(--darkest);
  color: var(--lightgrey);
}

.page-header h1 {
  color: var(--blue);
}

.reply-indicator__content a.unhandled-link,
.status__content a.unhandled-link {
  color: var(--blue);
}

.getting-started__trends h4 {
  color: var(--lightgrey);
}

.getting-started__trends .trends__item__current {
  color: var(--blue);
}

.trends__item__sparkline path:first-child {
  fill: var(--blue) !important;
  opacity: .25;
}

.trends__item__sparkline path:last-child {
  stroke: var(--blue) !important;
}

.compose-form .autosuggest-textarea__textarea::placeholder,
.compose-form .spoiler-input__input::placeholder,
.search__input::placeholder {
  color: var(--lightgrey) !important;
}

.audio-player {
  background: var(--darkest);
}

.audio-player .video-player__controls {
  background: var(--darkest);
}

canvas {
  filter: hue-rotate(195deg) saturate(250%) brightness(130%);
}

.conversation__content__relative-time {
  color: var(--blue);
}

.conversation__content__names {
  color: var(--lightgrey);
}

.getting-started__trends h4 {
  border-top: 1px solid var(--yellowlight);
  border-bottom: 0;
}

.column,
.drawer {
  flex: 0 0 auto;
  padding: 1px 5px;
}

.compose-form__sensitive-button .checkbox.active {
  border-color: var(--yellow);
  background: var(--yellow);
}

.compose-form__sensitive-button .checkbox {
  border: 1px solid var(--blue);
}

.page-header p {
  color: var(--lightgrey);
}

.trends-widget h4 {
  color: var(--lightgrey);
}

.button.logo-button svg,
.public-layout .footer .brand svg {
  fill: var(--yellow);
}

.column-link__badge {
  font-weight: bold;
  background: var(--yellow);
  color: var(--darkest);
}

.account--panel {
  background: var(--darkest);
  border-top: 0px solid var(--yellowlight);
  border-bottom: 1px solid var(--yellowlight);
}

.fa-check::before {
  color: var(--blue);
}

.account__header__content {
  color: var(--lightgrey);
}

.column-header__icon::before {
  color: var(--yellow);
}

.keyboard-shortcuts kbd {
  background-color: var(--darkbrown);
  border: 1px solid var(--darkbrown);
  border-radius: 3px;
}

.landing-page__call-to-action {
  background: var(--darkest);
}

.contact-widget h4,
.rich-formatting {
  color: var(--lightgrey);
}

.rich-formatting a {
  color: var(--yellow);
}

.contact-widget > a {
  color: var(--blue);
}

.table-of-contents {
  background: var(--darkest);
}

.link-button {
  color: var(--blue);
}

.report-modal__comment .setting-text-label {
  color: var(--yellow);
}

.character-counter {
  color: var(--lightgrey);
}

.report-modal__comment .setting-text__wrapper {
  border: 1px solid var(--yellow);
}


/********Single column ********/
.column-link--transparent.active {
  color: var(--yellow);
}

.getting-started__footer a {
  color: var(--yellow);
}

.tabs-bar__wrapper {
  background: var(--darkest);
}

.filter-form {
  background: var(--darkest);
}

.radio-button__input.checked {
  border-color: var(--yellow);
  background: var(--yellow);
}

.radio-button__input {
  border: 1px solid var(--yellow);
}

.directory__card__bar,
.directory__card__extra {
  background: var(--darkbrown);
}

.accounts-table__count small,
.directory__card__bar .display-name span {
  color: var(--lightgrey);
}

/******** ADMIN ********/
.admin-wrapper .sidebar-wrapper__inner {
  background: var(--darkest);
}

body.admin {
  background: var(--darkest);
}

.admin-wrapper .sidebar ul a {
  color: var(--yellow);
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
  color: var(--darkest);
  background-color: var(--yellow);
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a:hover {
  background-color: var(--yellow);
}

.admin-wrapper .sidebar ul a:hover {
  background-color: var(--yellowlight);
}

.setting-text {
  background: var(--notifbrown);
}

.accounts-table__count {
  color: var(--yellow);
}

.batch-table__toolbar {
  background: var(--darkbrown);
}

.table > thead > tr > th {
  border-bottom: 2px solid var(--lightgrey);
}

.table td,
.table th {
  border-top: 0;
  background: var(--notifbrown);
}

.admin-wrapper .content {
  background: initial;

  h4 {
    color: var(--blue);
  }

  h2 {
    border-bottom: 0;
  }
}

.batch-table__row {
  background: var(--darkest);
}

.batch-table__row:hover {
  background: var(--darkbrown);
}

.batch-table__row:nth-child(2n) {
  background: var(--notifbrown);
}

.batch-table__row:nth-child(2n):hover {
  background: var(--darkbrown);
}

a.table-action-link,
button.table-action-link {
  color: var(--yellow);
}

.filters .filter-subset a.selected {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
}

.filters .filter-subset a:hover {
  color: var(--yellowlight);
  border-bottom: 2px solid var(--yellow);
}

.filters .filter-subset a {
  color: var(--yellowlight);
  border-bottom: 2px solid var(--yellowlight);
}

.simple_form .hint,
.admin-wrapper .content .muted-hint,
body .muted-hint {
  color: var(--lightgrey);
}

.admin-wrapper .content .muted-hint a,
body .muted-hint a {
  color: var(--yellow);
}

.table > tbody > tr:nth-child(2n + 1) > td,
.table > tbody > tr:nth-child(2n + 1) > th {
  background: var(--darkbrown);
}

.table a {
  color: var(--yellow);
  text-decoration: none;
}

.simple_form select {
  background: var(--blue) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='%23323232'/></svg>") no-repeat right 8px center/auto 16px;
}

#notifications,
#appearance,
#other,
#featured_tags,
#import,
#password,
#authorized_apps,
#two_factor_authentication,
#preferences > .selected,
#security > .selected,
#profile > .selected,
#data > .selected,
#profile {
  background-color: var(--notifbrown);
}

#profile .simple-navigation-active-leaf > .selected {
  background-color: var(--yellow);
}

.upload-progress__backdrop {
  background: var(--notifbrown);
}

.link-button:disabled {
  color: var(--yellowlight);
}

.conversation {
  border-bottom: 1px solid var(--yellowlight);
}

.fa-envelope::before {
  color: var(--lightgrey);
}

.status__wrapper--filtered {
  color: var(--yellowlight);
  border-bottom: 1px solid var(--yellowlight);
}

/*=============== FRAMAPIAF ===============*/
.f-bs4 #f-header {
  display: none;
}

.column-back-button, .column-header {
  border: 0px solid var(--darkest);
}

.drawer__header, .drawer__inner, .column-inline-form, .column > .scrollable, .error-column, .getting-started, .regeneration-indicator {
  border: 0px solid var(--darkest);
}

.notification__filter-bar, .audio-player, .box-widget input[type="email"], .box-widget input[type="password"], .box-widget input[type="text"], .box-widget textarea, .compose-form .spoiler-input__input, .compose-form__autosuggest-wrapper, .compose-form__poll-wrapper select, .poll__option input[type="text"], .search__input, .setting-text, .statuses-grid .detailed-status, .compose-form .compose-form__buttons-wrapper {
  border: 0px solid var(--darkest);
}

.compose-form__publish-button-wrapper button {
  color: var(--darkest);
  text-shadow: 0 0 0px rgba(0, 0, 0, .7);
  background-color: var(--yellow);
  border-color: var(--yellow);
  text-decoration: none !important;
}

.getting-started .column-link, .scrollable .column-link {
  background: var(--darkest);
  border-bottom: 0px solid var(--yellowlight);
}

.column-subheading {
  border-bottom: 0px solid #d8c9e9;
}

.getting-started__footer {
  border-top: 0px solid var(--yellowlight);
}

.column-subheading {
  border-top: 0px solid var(--yellowlight);
}

.compose-form__poll-wrapper select {
  background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='%232D2B2B'/></svg>") no-repeat right 8px center/auto 16px;
}

.search__icon .fa {
  color: #d9e1e8;
}

.dropdown-menu__item a {
  color: var(--notifbrown);
}

p, .status__content__text.status__content__text--visible {
  color: var(--lightgrey);
}

.poll__number, .poll__option__text {
  color: var(--lightgrey);
}

.announcements__container {
  background-color: var(--darkbrown);
}

.reactions-bar__item {
  background: var(--blue);
}

.reactions-bar__item.active {
  background-color: var(--lightgrey);
}

.conversation--unread {
  background: var(--darkbrown);
}

.conversation--unread .conversation__content__relative-time {
  color: var(--yellow);
}

.detailed-status__action-bar {
  border-top: 0px solid var(--darkbrown);
}

.getting-started .column-link:active, .getting-started .column-link:focus, .getting-started .column-link:hover, .scrollable .column-link:active, .scrollable .column-link:focus, .scrollable .column-link:hover {
  background: var(--darkbrown);
}

.notification__filter-bar {
  border-bottom: 1px solid var(--yellowlight);
}
