- content_for :header_tags do
  = javascript_pack_tag 'public', crossorigin: 'anonymous'

- content_for :content do
  - if user_signed_in? && !@hide_header
    .account-header
      .avatar= image_tag current_account.avatar.url(:original)
      .name
        = t 'users.signed_in_as'
        %span.username @#{current_account.local_username_and_domain}
      = link_to destroy_user_session_path(continue: true), method: :delete, class: 'logout-link icon-button' do
        = fa_icon 'sign-out'

  .container-alt.ombre= yield
  .modal-layout__mastodon
    %div

= render template: 'layouts/application'
